<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-FileCopyrightText: The LibreMobileOS Foundation
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libremobileos.settings.resources">

    <application android:hasCode="false" />
</manifest>
